@font-face {
    font-family: Montserrat;
    src: url("./Montserrat-VariableFont_wght.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    --background-color: #181A1B;
    --white-color: #E8E6E3;
    font-family: Montserrat, sans-serif;
    color: var(--white-color);
    background-color: var(--background-color);
    font-weight: 900;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid var(--white-color);
}

h1 {
    font-size: 32px;
}

.content-container {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

p {
    font-size: 32px;
}

.score-card {
    font-size: 64px;
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option {
    margin: 30px;
    padding: 25px;
    font-size: 42px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
}

.option:hover {
    background-color: #C8C6C3;
    cursor: pointer;
    transition: 0.3s;
}

.computer-choice {
    font-size: 42px;
}
